/* For screens smaller than 768px (typical smartphones) */
@media (max-width: 767px) {
  body {
    /* background-color: rgb(236, 132, 132); */
  }


  .container:first-child {
    width: auto;
    padding-right: 0;
    padding-left: 0;
  }

  .jumbotron .jumbo-mail {
    display: none;
  }

  .outer-container footer .main-content-header {
    width: 100%;

  }

  .jumbotron .container {
    display: block;
  }

  .jumbotron {
    padding: 0;
  }

  .login-area a {
    font-size: 0.75rem;
    padding: 5px 0px;
    text-align: center;
  }

  .login-area {
    padding: 5px 0px;
    text-align: center;

  }

  .outer-container .navbar .navbar-brand {
    margin-right: 2px;
  }
  .navbar .logo{
    width: 50px;
  }
  .navbar .navbar-brand span{
   font-size: 0.85rem;
  }
.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}
  .supportive-box {
    display: none;
  }

  .main-content-header {
    width: 100%;
    font-size: 1.2rem;

  }

  .main-content .about-vibha, .main-content .aim {
    background-color: rgb(7 46 74);
    color: white;
    padding: 30px 20px 10px 10px;
    position: relative;
    margin-top: 2rem;
}

  .main-content .content {
    margin: 19px 0px 12px 0px;
}

  .main-content button {
    padding: 6px 18px;
  }

  .main-content .aim ul {
    margin-top: 1rem;
    text-align: justify;
    padding: 0px 0px 0px 8px;
    width: 100%;
  }

  .features .content-header {
    font-size: 1.6rem;
  }

  .features .trigger-element {
    display: block !important;
  }

  /* .features .trigger-element .card{
    width: 100%;
    margin-bottom: 10px;
  } */


  .outer-container footer .supportive-box {
    display: none;
  }

  .footer-form {
    left: 2%;
    top: 7%;
  }

  .footer-form #footer-email-input {
    width: 47%;
    height: 41px;

  }

  .footer-form input[type="submit"] {

    padding: 8px 15px;

  }


  .outer-container footer .mb-md-0 {
    /* width: 80%; */
    padding-top: 1rem;
  }

  footer .g20-logo {
    width: 92%;

  }

  footer .footer-logo {
    border-radius: 50%;
  }

  footer .footer-icon {
    font-weight: 400;

  }



  .features .trigger-element .card {
    margin-right: auto;
    width: 70%;
    margin-bottom: 10px;
    margin-left: auto;
  }

  .main-content .features .card img {
    width: 150px;
    height: 150px;

  }

  .social-accounts .card {
    max-width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }

  .social-area .social-accounts .card:not(.card:last-child) {
    margin-left: auto;
    margin-right: auto;
  }

  .main-content .features .card:not(.card:last-child) {
    margin-right: auto;
  }

.aim ul{
    margin-top: 2rem;
    width: auto;
}
  
}

/* For screens between 768px and 991px (small tablets) */
@media (min-width: 768px) and (max-width: 991px) {

  body {
    /* background-color: rgb(153, 217, 224); */
  }

  .login-area {
    padding: 10px 20px 10px 78px;
  }
  .supportive-box {
    left: 30%;
    width: 101px;
    height: 62.5px;
  }

  .main-content-header {
    width: 36%;
    font-size: 1.4rem;

  }

  .social-area .social-accounts .card:not(.card:last-child) {
    margin-right: 3px;

  }

  .footer-form #footer-email-input {
    width: 195px;
    height: 35px;
  }

  .outer-container footer .footer-top {
    padding-top: 1rem;
  }

  .outer-container footer .main-content-header {
    width: 35%;
    font-size: 1.2rem;
  }

  .outer-container footer .supportive-box {
    left: 29%;
    width: 140px;
    height: 58.5px;
  }

  .outer-container footer .mb-md-0 {
    width: 30%;
  }

}
